body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

/* Shared section  */
.orangetext{
    color: #FD6E0A;
}

.button-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none; 
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}

.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-descript{
    text-align: center;
    color: #757575;
    font-size: 18px;
}
/* Nav section  */
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none ;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* Header section  */
.header{
    background:  #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner .picture{
    width: 500px;

}
.banner-greeting{
    font-size: 45px;
    color:#474747;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 30px;
}

.descript{
    margin-bottom: 30px;
}
.banner-content{
    max-width: 500px;
}

/* Main section  */
.about{
    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0px;
}